TAVILY_API_KEY=sua_key_aqui
ANTHROPIC_API_KEY=sua_key_aqui

POSTGRES_USER=newsLens
POSTGRES_PASSWORD=newsLens
POSTGRES_DB=newsLens
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
OPENAI_API_KEY=your_openai_api_key_here

LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_HOST=https://us.cloud.langfuse.com
